streamlit
PyMuPDF
sentence-transformers
scikit-learn
tiktoken
openai
pandas
numpy
langchain
langchain-google-vertexai
# Manual install required for SemanticChunker
# run: pip install "git+https://github.com/langchain-ai/langchain.git@master#subdirectory=libs/experimental"
